.stock-wrap{
    margin-top: 24px;
    gap: 64px 32px;
    display: flex;
    flex-wrap: wrap;
}

.stock-box{
    text-decoration: unset;
    transition: 0.3s;
    width: calc(25% - 24px);
}
.stock-photo{
    display: flex;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 36px;
}
.stock-box:hover img{
    transform: scale(1.1);
}
.stock-box img{
    width: 100%;
    border-radius: 36px;
    transition: 0.3s;
}

.stock-box span, .stock-single-info span{
    text-decoration: unset;
    display: block;
    margin-top: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #636466;
}
.stock-box h4, .stock-single-info h4{
    margin-top: 8px;
    text-decoration: unset;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #2F2E2E;
}
.stock-box h4{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.stock-cnt{
    position: relative;

}

.stock-single-info span{
    margin: 0;
}
.stock-slider .stock-box{
    width: 100%;
}

.stock-single-info p{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin-top: 16px;
    color: #2F2E2E;
}


.stock-single{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-top: 24px;
}



.stock-single-photo{
    max-width: 808px;
    width: 100%;
}

.stock-single-photo img{
    width: 100%;
}
.stock-single-info{
    max-width: 808px;
    width: 100%;
}

.stock-main-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
}
.all-stock{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: unset;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #686868;
    padding: 12px 24px;
    width: max-content;
    border-radius: 24px;
    border: 1px solid #686868;
    text-decoration: unset;
}
.stock .company__header {
    margin-bottom: 0;
}

.stock .stock-box h4{
    font-size: 18px;
}



.real-estate{
    position: relative;
    padding-right: 40px;
}
.real-estate:after{
    content: "";
    position: absolute;
    top: 17px;
    right: 18px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(45deg);
    transition: 0.3s;
}
.real-estate-active .real-estate:after{
    transform: rotate(135deg);
    top: 14px;
    right: 16px;
}
.real-estate-active .real-estate{
    border-radius: 20px 20px 0 0;
}
.real-estate-active .btn--primary:hover {
    background: #560300;
}
.select-apartments-par{
    position: relative;
}
.select-apartments-drop{
    background: #560300;
    border-radius: 0 0 20px 20px;
    padding: 14px 16px;
    position: absolute;
    width: 100%;
    top: 39px;
    left: 0;
    display: none;
    z-index: 111;
}
.select-apartments-drop ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
}
.select-apartments-drop ul li a{
    display: flex;
    width: 100%;
    border-radius: 16px;
    padding: 8px 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: unset;
    transition: 0.3s;
}
.select-apartments-drop ul li a:hover{
    background: #FFFFFF1A;
}

.real-estate-active .select-apartments-drop{
    display: block;
}










@media (max-width: 1599px){
    .stock-single-info p {
        font-size: 20px;
    }
}


@media (max-width: 1499px){
    .stock-box{
        width: calc(33.3333% - 24px);
    }
}

@media (max-width: 1299px){
    .stock-cnt{
        padding-bottom: 34px;
    }
    .stock-cnt .stock-pagination{
        bottom: 0;




    }
    .stock-cnt .swiper-pagination-bullet{

        width: 10px;
        height: 10px;
        background: #636466;
        border-radius: 50%;
        opacity: 0.3;
        transition: opacity 0.2s;
    }
    .stock-cnt .swiper-pagination-bullet-active{

        opacity: 1;
        background: #560300;
    }
}


@media (max-width: 1199px){
    .stock-box h4 {
        font-size: 20px;
    }
    .stock-box h4, .stock-single-info h4{
        font-size: 20px;
    }
    .stock-wrap {
        margin-top: 24px;
        gap: 40px 20px;
    }
    .stock-box {
        width: calc(33.333333% - 14px);
    }
    .stock-box span {
        margin-top: 16px;
        font-size: 16px;
    }
    .stock-box img {
        border-radius: 16px;
    }
    .stock-photo {
        border-radius: 16px;
    }
    .stock-single-info p {
        font-size: 18px;
    }
}
@media (max-width: 1020px){
    .stock-box {
        width: calc(50% - 14px);
    }
    .stock-single {
        flex-direction: column;
    }

    .real-estate {
        padding-right: 26px;
    }
    .real-estate:after {
        top: 14px;
        right: 11px;
        width: 6px;
        height: 6px;
    }
    .real-estate-active .real-estate:after {
        transform: rotate(135deg);
        top: 12px;
        right: 10px;
    }

    .select-apartments-drop {
        padding: 12px 12px;
        top: 31px;
    }
    .select-apartments-drop ul li a {
        font-size: 15px;
    }
}
@media (max-width: 570px){
    .stock-box {
        width: 100%;
    }

}